.container {
}
nav {
  margin: 25px;
  background: #f9f9f9;
  padding: 16px;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menuItems {
  list-style: none;
  display: flex;
}
ul li {
  margin: 50px;
}
.menuItems a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
* {
  font-family: "Roboto", sans-serif;
}

.artistEL {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  justify-content: center;
}
.artistEL p {
  width: 150px;
}

.songContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.songEl {
  display: flex;
  gap: 10px;
  align-items: center;
}

.songEl img {
  width: 100px;
  height: 100px;
}

.songEl p {
  width: 100px;
}
