* {
  font-family: "Roboto", sans-serif;
}

.artistEL {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  justify-content: center;
}
.artistEL p {
  width: 150px;
}

.songContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.songEl {
  display: flex;
  gap: 10px;
  align-items: center;
}

.songEl img {
  width: 100px;
  height: 100px;
}

.songEl p {
  width: 100px;
}
